<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>UIAppFonts</key>
	<array>
		<string>VolvoSansPro-Light.ttf</string>
		<string>VolvoSerifPro-Italic.ttf</string>
		<string>VolvoSansPro-Regular.ttf</string>
		<string>VolvoSansPro-Medium.ttf</string>
		<string>VolvoSanLigBol.ttf</string>
		<string>VolvoSanLigReg.ttf</string>
		<string>VolvoSansPro-Bold.ttf</string>
		<string>Montserrat-Regular.ttf</string>
		<string>SourceSansPro-Regular.ttf</string>
	</array>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Volvo needs to know your location in order to have an address for the Pickup and Delivery of your vehicle.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Volvo needs to know your location in order to have an address for the Pickup and Delivery of your vehicle.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Volvo needs to know your location in order to have an address for the Pickup and Delivery of your vehicle.</string>
	<key>Scheme</key>
	<string>$(Scheme)</string>
	<key>ENABLE_DEBUG_INFO</key>
	<string>$(ENABLE_DEBUG_INFO)</string>
</dict>
</plist>
